<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar disable-user-behavior">
</ion-nav-bar>
<ion-tabs class="tabs-positive slide-left-right">

  <ion-tab title="Profiel" href="#/app/profiel">
    <!-- Tab 1 content -->
    <ion-nav-view name="profiel"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Oefeningen" href="#/app/oefeningen">
    <!-- Tab 2 content -->
    <ion-nav-view name="oefeningen"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Oefening" href="#/app/oefeningen/oefening">
    <!-- Tab 2 content -->
    <ion-nav-view name="oefening"></ion-nav-view>
  </ion-tab>

</ion-tabs>