.blue_theme {
    background-color: #28bbe8;
    visibility: visible;  
}
.bar.bar-stable {
	background-color: #28bbe8;
	border: none;
}
.bar.bar-stable .title, .bar-stable .button.button-clear, .bar-stable .button, .bar .title, .bar .button {
	color: #fdfdfd;
}
.button .icon {
    color: white;   
}
.bar a.button.button-icon:before {
line-height: 58px;
}
.bar a.button{
line-height: 58px;
}