.s100 {background-color: #442d49;}
.s90 {background-color: #66436d;}
.s80 {background-color: #885991;}
.s70 {background-color: #a03744;}
.s60 {background-color: #c14f59;}
.s50 {background-color: #e27a83;}
.s40 {background-color: #e2a02b;}
.s30 {background-color: #f3b64d;}
.s20 {background-color: #2f8c5f;}
.s10 {background-color: #3eba7f;}